// Import page-specific CSS files here.
@import "home";

.cards{
  border-radius: 4px;
}

.btn-primary{
  border-radius: 4px;
}

.button-container {
  text-align: center;
  margin-top: 10px; /* Adjust as needed */
}
