// Specific CSS for your home-page
.banner {
  background-image: url("banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 120px 0;
}

.problem {
  width: 500px;
  size: 90px;
}

.login-css {
  width: 300px;
  text-align: left;
}

.booking {
  background-image: url("booking.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 400px;
}

.container-booking {
  text-align: right;
}

.text-booking {
  padding-right: 100px;
  padding-top: 100px;
}

.container-home {
  width: 700px;
  margin: 125px;
}

.container-login {
  background-image: url("login-resize.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 700px;
  text-align: left;
  padding-left: 50px;
}

.container{
  width: 800px;
  background-color: rgb(232,174,12);
  padding: 10px;
  text-align: center;
}

.container-header{
  width: 800px;
  padding: 10px;
  text-align: center;
}

.container-dash{
  width: 1200px;
  margin: auto;
  background-color: rgb(232,174,12);
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.container-new{
  width: 800px;
  margin: auto;
  background-color: rgb(232,174,12);
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  text-align: left;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.1);
}

.div{
  border: 1px solid black;
  border-radius: 8px;
  background-color:#98bef7;
  padding: 8px;
}

.container-pet{
  width: 700px;
  // height: 1000px;
  background-color: rgb(232,174,12);
  padding: 10px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.card-pet{
text-align: center;
}

.card-pet p{
  text-align: left;
}

.button-container {
  text-align: center;
  margin: 20px;
}

#paragraph{
  font-weight: 700;
}

.btn-outline-primary {
  --bs-btn-color: #0D6EFD;
  --bs-btn-border-color: #0D6EFD;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #98bef7;
  --bs-btn-hover-border-color: #0D6EFD;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0D6EFD;
  --bs-btn-active-border-color: #0D6EFD;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0D6EFD;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0D6EFD;
  --bs-gradient: none;
}

a {
  text-decoration: none;
}
