// Specific CSS for your home-page
.banner {
  background-image: url("banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 120px 0;
}

.booking {
  background-image: url("booking.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 700px
}

.container-booking {
  text-align: right;

}

.text-booking {
  padding-right: 100px;
  padding-top: 100px;
}

.container-home {
  width: 700px;
  margin: 250px;
}

.container{
  width: 800px;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.container-header{
  width: 800px;
  padding: 10px;
  text-align: center;
}

.container-dash{
  width: 1200px;
  margin: auto;
  background-color: white;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.container-new{
  width: 800px;
  margin: auto;
  background-color: white;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.cards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  text-align: left;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.1);
}

.div{
  border: 1px solid black;
  border-radius: 8px;
  background-color:aquamarine;
  padding: 8px;
}

.container-pet{
  width: 700px;
  // height: 1000px;
  background-color: white;
  padding: 10px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.card-pet{
text-align: center;
}

.card-pet p{
  text-align: left;
}

.button-container {
  text-align: center;
  margin: 20px;
}

#paragraph{
  font-weight: 700;
}
