<h1>Pet Listing</h1>
  <div class=“container”>
    <div class=“pets-cards”>
      <ul>
        <% @pets.each do |pet| %>
          <li>
              <h3><%= pet.name %></h3>
              <p><%= pet.species %> | Price: $<%= pet.price %></p>
          </li>
        <% end %>
      </ul>
    </div>
</div>
