<div class="container">
  <h1>Pet Listing</h1>
    <div class="col-12">
      <div class="columns is-centered">
        <div class="cards">
          <% @pets.each do |pet| %>
          <div class="div">
            <h3><%= link_to pet.name, pet_path(pet) %></h3>
            <p><%= pet.species %></p>
            <p>Price: $<%= pet.price %></p>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
