<h1>Welcome to <%= "#{current_user.email}" %> Dashboard</h1>
<ul>
  <p>View your listings</p>
  <br>
  <p>Edit or delete your listings</p>
  <br>

<%= link_to 'View listings', pets_path %>

<p>Edit your listing</p>
