.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  padding-left: 200px;
  color: rgb(105, 61, 7);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: right;
  padding-right: 200px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

// .navbar-lewagon .navbar-brand {
//   justify-content:left;
// }

.navbar-lewagon .container-fluid {
  color: pink;
}
