.navbar-lewagon {
  justify-content: space-between;
  background: orange;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: right;
  padding-right: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

// .navbar-lewagon .navbar-brand {
//   justify-content:left;
// }

// .container-fluid {
//   align-items: flex-end;
// }
