.navbar-lewagon {
  
  //SCSS nested

  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 60px;
    // height: 90px;
  }

  .container-fluid {
    position: relative;
    // padding: 15px;
    width: 1000px;
  }

  .text {
    display: inline-block;
  }


}
